.error-panel {
  border: 2px solid #9d4343;
  background-color: rgba(255, 0, 0, .2);
  color: #9d4343;
  padding: 20px 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}