.episodes-page-content {
  padding: 10px;
}

.filter-container {
  margin: 20px;
  font-size: 1.2rem;
  
  
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.episode-name {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #72b9a0;
  color: #4e8074;
  font-size: 1.2rem;

  @media screen and (min-width: 600px) {
    margin-left: 10px;
  }
}

.episode-name:hover,
.episode-name:focus {
  box-shadow: 0 0 5px #72b9a0;
}

.episode-name:focus {
  border-color: #4e8074; 
}

.action-button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-flex;
  width: 34px;
  height: 34px;
  font-size: 1.3rem;
  color: #4e8074;
  vertical-align: middle;

  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

.action-button:hover {
  box-shadow: 0 0 5px #cde9c8;
}

.episode-name:focus-visible,
.action-button:focus-visible {
  outline: #4e8074 solid 1px;
}