#header {
  height: 4rem;
  background-image: linear-gradient(to bottom, #0c1e31, #1f415c);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 600px) {
    height: 100px;
  }

  @media screen and (min-width: 768px) {
    height: 150px;
  }
}

#header-image {
  object-position: center;
  object-fit: contain;

  @media screen and (min-width: 600px) {
    width: 500px;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
  }
}

#content {
  flex-grow: 3;
  position: relative; /*this css declaration is necessary for Loading to display as a layer on top*/
}

#footer {
  height: 2rem;
  padding: 5px;
  background-image: linear-gradient(to bottom, #1f415c, #0c1e31);
  text-align: center;
  color: #72b9a0;
  font-size: 14px;
  
  @media screen and (min-width: 600px) {
    height: 50px;
    padding: 15px 10px 5px;
  }
}