#header {
  height: 4rem;
  background-image: url('./assets/rick-morty-header-title.png'), linear-gradient(to bottom, #0c1e31, #1f415c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (min-width: 600px) {
    height: 100px;
    background-size: auto;
  }

  @media screen and (min-width: 768px) {
    height: 150px;
  }
}

#content {
  flex-grow: 3;
  position: relative; /*this css declaration is necessary for Loading to display as a layer on top*/
}

#footer {
  height: 2rem;
  padding: 5px;
  background-image: linear-gradient(to bottom, #1f415c, #0c1e31);
  text-align: center;
  color: #72b9a0;
  font-size: 14px;
  
  @media screen and (min-width: 600px) {
    height: 50px;
    padding: 15px 10px 5px;
  }
}